In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot

In [2]:
data245_cleaneddata=pd.read_csv("https://raw.githubusercontent.com/Sowmyadiya/Data245-Project/master/Datasets/asv_data245.csv")
data245_cleaneddata

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,state,job_opportunity_rank,affordability,economy,education and health,quality of life,safety,Climate,title,totalyearlycompensation,yearsofexperience,Education
0,0,0,0,Alabama,2,0,3,4,4,4,0,Software Engineer,84000,3.0,-1
1,1,1,1,Alabama,2,0,3,4,4,4,0,Software Engineer,70000,2.0,-1
2,2,2,2,Alabama,2,0,3,4,4,4,0,Software Engineer,112000,5.0,1
3,3,3,3,Alabama,2,0,3,4,4,4,0,Software Engineer,71000,2.0,-1
4,4,4,4,Alabama,2,0,3,4,4,4,0,Software Engineer,84000,2.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52200,52240,52240,52240,Wisconsin,1,3,1,0,0,0,4,Software Engineering Manager,334000,10.0,1
52201,52241,52241,52241,Wisconsin,1,3,1,0,0,0,4,Software Engineer,105000,0.0,-1
52202,52242,52242,52242,Wisconsin,1,3,1,0,0,0,4,Software Engineer,115000,2.0,-1
52203,52243,52243,52243,Wisconsin,1,3,1,0,0,0,4,Software Engineer,115000,0.0,-1
52204,52244,52244,52244,Wisconsin,1,3,1,0,0,0,4,Software Engineer,188000,8.0,-1

In [3]:
data245_cleaneddata=data245_cleaneddata.drop(['Unnamed: 0','Unnamed: 0.1'], axis = 1)
data245_cleaneddata

,Unnamed: 0.1.1,state,job_opportunity_rank,affordability,economy,education and health,quality of life,safety,Climate,title,totalyearlycompensation,yearsofexperience,Education
0,0,Alabama,2,0,3,4,4,4,0,Software Engineer,84000,3.0,-1
1,1,Alabama,2,0,3,4,4,4,0,Software Engineer,70000,2.0,-1
2,2,Alabama,2,0,3,4,4,4,0,Software Engineer,112000,5.0,1
3,3,Alabama,2,0,3,4,4,4,0,Software Engineer,71000,2.0,-1
4,4,Alabama,2,0,3,4,4,4,0,Software Engineer,84000,2.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52200,52240,Wisconsin,1,3,1,0,0,0,4,Software Engineering Manager,334000,10.0,1
52201,52241,Wisconsin,1,3,1,0,0,0,4,Software Engineer,105000,0.0,-1
52202,52242,Wisconsin,1,3,1,0,0,0,4,Software Engineer,115000,2.0,-1
52203,52243,Wisconsin,1,3,1,0,0,0,4,Software Engineer,115000,0.0,-1
52204,52244,Wisconsin,1,3,1,0,0,0,4,Software Engineer,188000,8.0,-1

In [4]:
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn import tree
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn import utils

In [5]:
final_data = pd.get_dummies(data = data245_cleaneddata, columns = ['title'])
df = final_data.loc[ : , final_data.columns != 'state']

target_data=data245_cleaneddata['state']
X = df

In [6]:
df.shape

(52205, 26)

In [7]:
# Xtrain,Xtest,Ytrain,Ytest = train_test_split(df,target_data,test_size=0.30,random_state=42)
Xtrain,Xtest,Ytrain,Ytest = train_test_split(df,target_data,test_size=0.30,random_state=42,stratify=target_data)

In [63]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix
# fit model no training data
XGB_clf = XGBClassifier()
XGB_clf.fit(Xtrain, Ytrain)
# make predictions for test data
y_pred_XG = XGB_clf.predict(Xtest)
print(accuracy_score(Ytest, y_pred_XG))
y_pred_XG

C:\Users\aswin\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[15:32:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.9994896006124793

array(['California', 'Washington', 'California', ..., 'Washington',
       'Colorado', 'California'], dtype=object)

In [64]:
np.unique(y_pred_XG)

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'Tennessee', 'Texas', 'Utah', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin'], dtype=object)

In [65]:
precision_recall_fscore_support(Ytest, ygb_pred, average=None)

C:\Users\aswin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\aswin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

(array([1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        , 0.875     , 1.        ,
        1.        , 1.        , 0.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.66666667, 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.        , 1.        , 1.        , 1.        ,
        1.        , 0.        ]),
 array([1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.95, 1.  , 1.  , 0.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.  , 1.  , 1.  ,
        1.  , 1.  , 0.  ]),
 array([1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.97435897, 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        , 0.93333333, 1.        ,
        1.        , 1.        , 0.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.8       , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.        , 1.        , 1.        , 1.        ,
        1.        , 0.        ]),
 array([   7,  112,   37, 6853,  159,   31,   20,   72,  165,    0,   16,
         241,   32,    7,   11,    6,    8,    1,   33,  525,   73,   80,
          59,    1,    8,    4,   10,  143,    2, 1483,  144,    2,   70,
           2,  176,  156,    6,    8,   26,  789,   65,    6,  269, 3707,
           3,   46,    0], dtype=int64))

### Stratified K-fold For XG Boost

In [66]:
pipeline = make_pipeline(XGBClassifier())
#Xtrain,Xtest,Ytrain,Ytest
# Create an instance of StratifiedKFold which can be used to get indices of different training and test folds
#
strtfdKFold = StratifiedKFold(n_splits=10)
kfold = strtfdKFold.split(Xtrain, Ytrain)
scores = []
#
#
#
for k, (train, test) in enumerate(kfold):
    pipeline.fit(Xtrain.iloc[train, :], Ytrain.iloc[train])
    score = pipeline.score(Xtrain.iloc[test, :], Ytrain.iloc[test])
    scores.append(score)
    print('Fold: %2d, Training/Test Split Distribution: , Accuracy: %.3f' % (k+1, score))
 
print('\n\nCross-Validation accuracy: %.3f +/- %.3f' %(np.mean(scores), np.std(scores)))

C:\Users\aswin\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"
C:\Users\aswin\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[15:33:31] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  1, Training/Test Split Distribution: , Accuracy: 1.000
[15:33:52] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  2, Training/Test Split Distribution: , Accuracy: 1.000
[15:34:15] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  3, Training/Test Split Distribution: , Accuracy: 1.000
[15:34:39] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  4, Training/Test Split Distribution: , Accuracy: 1.000
[15:35:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  5, Training/Test Split Distribution: , Accuracy: 1.000
[15:35:26] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  6, Training/Test Split Distribution: , Accuracy: 1.000
[15:35:51] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  7, Training/Test Split Distribution: , Accuracy: 0.999
[15:36:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  8, Training/Test Split Distribution: , Accuracy: 1.000
[15:36:44] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold:  9, Training/Test Split Distribution: , Accuracy: 1.000
[15:37:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Fold: 10, Training/Test Split Distribution: , Accuracy: 1.000


Cross-Validation accuracy: 1.000 +/- 0.000

In [13]:
from sklearn.model_selection import KFold, GridSearchCV
from sklearn.metrics import accuracy_score, make_scorer
from sklearn.feature_selection import SelectKBest, chi2
from xgboost import XGBClassifier

# Define our search space for grid search
XGB_clf = XGBClassifier()
search_space = [
  {
    'clf__n_estimators': [50, 100, 150, 200],
    'clf__learning_rate': [0.01, 0.1, 0.2, 0.3],
    'clf__max_depth': range(3, 10)
      }
]
# Define cross validation
kfold = KFold(n_splits=10, random_state=42)

grid = GridSearchCV(
  XGB_clf,
  param_grid=search_space,
  cv=kfold,
  verbose=1,
  n_jobs=-1
)
# Fit grid search
model = grid.fit(Xtrain, Ytrain)
print(model.best_params_)

Fitting 10 folds for each of 112 candidates, totalling 1120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed: 10.2min
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed: 51.2min
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed: 116.0min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed: 203.3min
[Parallel(n_jobs=-1)]: Done 1120 out of 1120 | elapsed: 317.1min finished
C:\Users\aswin\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[18:28:28] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:576:
Parameters: { "clf__learning_rate", "clf__max_depth", "clf__n_estimators" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[18:28:29] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
{'clf__learning_rate': 0.01, 'clf__max_depth': 3, 'clf__n_estimators': 50}